<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="/fb"><i class="fa-brands fa-facebook"></i></a>
            <a href="/x"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="/insta"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="f-info-brand"><i class="fa-regular fa-copyright"></i>&nbsp;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>