<%layout("./layouts/boilerplate.ejs")%>

    <div class="row">
    <div class="col-8 offset-2 mt-4">
     <div class="alert alert-danger" role="alert">
        <h5 class="alert-heading"><%=err%></h5>
        <p><%=err.stack%></p>
     </div>
    </div>
</div>